.toolbar{
    position: fixed;
    width: 100%;
    background:#1f3061;
    height:60px;   
    top:0px;
    left:0px;
}
.toolbar a{
    color: white;
text-decoration: none;
}
.toolbar ul{
    list-style-type: none;
    padding:0;
    margin: 0;
    display:flex;
}
.toolbar li{
    padding:1rem;
}
.toolbar_logo a{
    font-size: 2rem;
}
.toolbar_navigation{
    display:flex;
    height:100%;
    align-items: center;
    padding: 0 1rem;
}
.toolbar_navigation-item a:hover,
.toolbar_navigation-item a:hover{
color:gray;
}
.spacer{
    flex: 1;
}